h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;

  text-align: center;
  line-height: 59px;

  padding: 0 64px;
  margin: 0;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  width: 270px;

  border: 2px solid;
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}

.gold {
  font-weight: 900;

  color: #f2c94c;
  text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

.controls {
  display: flex;
  justify-content: space-between;

  width: 187px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}

.tile .fad {
  font-size: 60px;
}

.breadcrumb li+li::before {
    color: #b5b5b5;
    content: "\0007C";
}

/*.fa-user-hard-hat{*/
/*  --fa-secondary-opacity: .5; --fa-primary-color: orange; --fa-secondary-color: #FAE8D4;"*/
/*}*/

/*.fa-dumbbell{*/
/*  --fa-secondary-opacity: .5; --fa-primary-color: #221216; --fa-secondary-color: darkgray;"*/
/*}*/

/*.fa-apple-alt{*/
/*  --fa-secondary-opacity: .5; --fa-primary-color: #F685A9; --fa-secondary-color: #C3F23F;"*/
/*}*/

/*.fa-flask-poison{*/
/*  --fa-secondary-opacity: .5; --fa-primary-color: #7950f2; --fa-secondary-color: #b197fc;"*/
/*}*/



/* Hacker news css

 */

.td    { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }

.admin td   { font-family:Verdana, Geneva, sans-serif; font-size:8.5pt; color:#000000; }
.subtext td { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }

input    { font-family:monospace; font-size:10pt; }
input[type=\"submit\"] { font-family:Verdana, Geneva, sans-serif; }
textarea { font-family:monospace; font-size:10pt; }

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

.default { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; }
.admin   { font-family:Verdana, Geneva, sans-serif; font-size:8.5pt; color:#000000; }
.title   { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; overflow:hidden; }
.subtext { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }
.yclinks { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }
.pagetop { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#222222; line-height:12px; }
.comhead { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }
.comment { font-family:Verdana, Geneva, sans-serif; font-size:  9pt; }
.hnname  { margin-right: 5px; }

#hnmain { min-width: 796px; }

.comment a:link, .comment a:visited { text-decoration: underline; }
.noshow { display: none; }
.nosee { visibility: hidden; pointer-events: none; cursor: default }

.c00, .c00 a:link { color:#000000; }
.c5a, .c5a a:link, .c5a a:visited { color:#5a5a5a; }
.c73, .c73 a:link, .c73 a:visited { color:#737373; }
.c82, .c82 a:link, .c82 a:visited { color:#828282; }
.c88, .c88 a:link, .c88 a:visited { color:#888888; }
.c9c, .c9c a:link, .c9c a:visited { color:#9c9c9c; }
.cae, .cae a:link, .cae a:visited { color:#aeaeae; }
.cbe, .cbe a:link, .cbe a:visited { color:#bebebe; }
.cce, .cce a:link, .cce a:visited { color:#cecece; }
.cdd, .cdd a:link, .cdd a:visited { color:#dddddd; }

.pagetop a:visited { color:#000000;}
.topsel a:link, .topsel a:visited { color:#ffffff; }

.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }

.comhead a:link, .subtext a:visited { color:#828282; }
.comhead a:hover { text-decoration:underline; }

.hnmore a:link, a:visited { color:#828282; }
.hnmore { text-decoration:underline; }

.default p { margin-top: 8px; margin-bottom: 0px; }

.pagebreak {page-break-before:always}

pre { overflow: auto; padding: 2px; white-space: pre-wrap; word-wrap: break-word; }
pre:hover { overflow:auto }

.votearrow {
    width:      10px;
    height:     10px;
    border:     0px;
    margin:     3px 2px 6px;
    background: url("grayarrow.gif")
    no-repeat;
}

.votelinks.nosee div.votearrow.rotate180 {
    display: none;
}

table.padtab td { padding:0px 10px }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .votearrow { background-size: 10px; background-image: url("grayarrow2x.gif"); }
}

.rotate180 {
    -webkit-transform: rotate(180deg);  /* Chrome and other webkit browsers */
    -moz-transform:    rotate(180deg);  /* FF */
    -o-transform:      rotate(180deg);  /* Opera */
    -ms-transform:     rotate(180deg);  /* IE9 */
    transform:         rotate(180deg);  /* W3C complaint browsers */

    /* IE8 and below */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}

/* mobile device */
@media only screen
and (min-width : 300px)
and (max-width : 750px) {
    #hnmain { width: 100%; min-width: 0; }
    body { padding: 0; margin: 0; width: 100%; -webkit-text-size-adjust: none; }
    td { height: inherit !important; }
    .title, .comment { font-size: inherit;  }
    span.pagetop { display: block; margin: 3px 5px; font-size: 12px; line-height: normal }
    span.pagetop b { display: block; font-size: 15px; }
    table.comment-tree .comment a { display: inline-block; max-width: 200px; overflow: hidden; white-space: nowrap;
        text-overflow: ellipsis; vertical-align:top; }
    img[src='s.gif'][width='40'] { width: 12px; }
    img[src='s.gif'][width='80'] { width: 24px; }
    img[src='s.gif'][width='120'] { width: 36px; }
    img[src='s.gif'][width='160'] { width: 48px; }
    img[src='s.gif'][width='200'] { width: 60px; }
    img[src='s.gif'][width='240'] { width: 72px; }
    img[src='s.gif'][width='280'] { width: 84px; }
    img[src='s.gif'][width='320'] { width: 96px; }
    img[src='s.gif'][width='360'] { width: 108px; }
    img[src='s.gif'][width='400'] { width: 120px; }
    img[src='s.gif'][width='440'] { width: 132px; }
    img[src='s.gif'][width='480'] { width: 144px; }
    img[src='s.gif'][width='520'] { width: 156px; }
    img[src='s.gif'][width='560'] { width: 168px; }
    img[src='s.gif'][width='600'] { width: 180px; }
    img[src='s.gif'][width='640'] { width: 192px; }
    img[src='s.gif'][width='680'] { width: 204px; }
    img[src='s.gif'][width='720'] { width: 216px; }
    img[src='s.gif'][width='760'] { width: 228px; }
    img[src='s.gif'][width='800'] { width: 240px; }
    img[src='s.gif'][width='840'] { width: 252px; }
    .title { font-size: 11pt; line-height: 14pt;  }
    .subtext { font-size: 9pt; }
    .itemlist { padding-right: 5px;}
    .votearrow { transform: scale(1.3,1.3); margin-right: 6px; }
    .votearrow.rotate180 {
        -webkit-transform: rotate(180deg) scale(1.3,1.3);  /* Chrome and other webkit browsers */
        -moz-transform:    rotate(180deg) scale(1.3,1.3);  /* FF */
        -o-transform:      rotate(180deg) scale(1.3,1.3);  /* Opera */
        -ms-transform:     rotate(180deg) scale(1.3,1.3);  /* IE9 */
        transform:         rotate(180deg) scale(1.3,1.3);  /* W3C complaint browsers */
    }
    .votelinks { min-width: 18px; }
    .votelinks a { display: block; margin-bottom: 9px; }
    input[type='text'], input[type='number'], textarea { font-size: 16px; width: 90%; }
}

.comment { max-width: 1215px; overflow: hidden }

@media only screen and (min-width : 300px) and (max-width : 389px) {
    .comment { max-width: 270px; overflow: hidden }
}
@media only screen and (min-width : 390px) and (max-width : 509px) {
    .comment { max-width: 350px; overflow: hidden }
}
@media only screen and (min-width : 510px) and (max-width : 599px) {
    .comment { max-width: 460px; overflow: hidden }
}
@media only screen and (min-width : 600px) and (max-width : 689px) {
    .comment { max-width: 540px; overflow: hidden }
}
@media only screen and (min-width : 690px) and (max-width : 809px) {
    .comment { max-width: 620px; overflow: hidden }
}
@media only screen and (min-width : 810px) and (max-width : 899px) {
    .comment { max-width: 730px; overflow: hidden }
}
@media only screen and (min-width : 900px) and (max-width : 1079px) {
    .comment { max-width: 810px; overflow: hidden }
}
@media only screen and (min-width : 1080px) and (max-width : 1169px) {
    .comment { max-width: 970px; overflow: hidden }
}
@media only screen and (min-width : 1170px) and (max-width : 1259px) {
    .comment { max-width: 1050px; overflow: hidden }
}
@media only screen and (min-width : 1260px) and (max-width : 1349px) {
    .comment { max-width: 1130px; overflow: hidden }
}

.trash {
    margin-left: 10px;
    font-size: 15px;
    color: red;
}

.trash:hover {
    transform:scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);

}

.star {
    margin-right: 5px;
    font-size: 15px;
    color: #D1D100;
    transition: font-size 0.35s ease;
}

.star:hover {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}



















html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000;
}

body,div,pre,form,p,th {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

div.reply {
  background-color: #f0e0d6;
  border: 1px solid #d9bfb7;
  border-left: none;
  border-top: none;
}

.party-hat {
  position: absolute;
  pointer-events: none;
}

.small .party-hat,.extended-small .party-hat {
  width: 100px;
  left: -10px;
  margin-top: -55px;
}

input:-moz-placeholder {
  color: gray!important;
}

#content table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

em,strong,th {
  font-style: normal;
  font-weight: 400;
}

th {
  text-align: left;
}

q:before,q:after {
  content: '';
}

sub {
  vertical-align: text-bottom;
}

body {
  background: url(/image/fade.png) repeat-x scroll center top #ffe;
  color: maroon;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a,.button {
  color: #00e;
}

a:hover,.button:hover {
  color: red;
}

hr {
  clear: both;
  border: none;
  border-top: 1px solid #d9bfb7;
}

p {
  margin-bottom: 15px;
}

input[type=text],input[type=password] {
  border: 1px solid #aaa;
  font-size: 11px;
  margin: 0 2px 0 0;
  padding: 2px 4px 3px;
}

input[type=text] {
  outline: none;
}

input[type=text],input[type=password] {
  margin: 0 2px;
  padding: 1px;
}

input:focus {
  border: 1px solid #ea8!important;
}

#content input[type=checkbox] {
  vertical-align: middle;
}

.button {
  cursor: pointer;
  border: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.threadIcons {
  display: inline;
  height: 16px;
  margin: 2px 0 0 -101px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.threadIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.stickyIcon {
  background-image: url(//s.4cdn.org/image/sticky.gif);
}

.closedIcon {
  background-image: url(//s.4cdn.org/image/closed.gif);
}

.imgdel {
  padding: 20px 14px;
  min-height: 0!important;
  width: 127px;
  height: 13px;
}

@media (-webkit-min-device-pixel-ratio:2.0),(min--moz-device-pixel-ratio:2),(min-resolution:2dppx) {
  .stickyIcon {
    background-image: url(//s.4cdn.org/image/sticky@2x.gif);
    background-size: 100%;
  }

  .closedIcon {
    background-image: url(//s.4cdn.org/image/closed@2x.gif);
    background-size: 100%;
  }
}

.error {
  color: red;
  font-size: x-large;
  font-weight: 700;
}

#info {
  float: left;
}

#filtered-count,#filtered-count-bottom,#search-term,#search-term-bottom,#ordered-by {
  font-weight: 700;
}

#theme {
  width: 330px;
  top: 60px;
  left: 50%;
  margin-left: -178px;
}

#theme-css {
  font-family: dejavu sans mono, consolas, andale mono, lucida console, monospace;
  width: 320px;
  min-width: 320px;
}

#filter-table {
  width: 100%;
}

#filter-table th {
  font-weight: 700;
  font-size: 11px;
  min-width: 20px;
}

#filter-table th {
  text-align: center;
}

.filter-boards {
  width: 30px;
}

#threads {
  padding: 20px 0;
  text-align: center;
}

.thread {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 0 3px;
  position: relative;
}

.thread a {
  border: none;
}

.thread img {
  display: inline;
}

.small .thread {
  width: 165px;
}

.extended-small .thread {
  width: 180px;
  max-height: 320px;
}

.thumb {
  display: block;
  margin: auto;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  min-height: 50px;
  min-width: 50px;
}

.meta {
  cursor: help;
  font-size: 11px;
  line-height: 8px;
  margin-top: 2px;
  margin-bottom: 1px;
}

.meta .postMenuBtn {
  position: absolute;
  margin-top: -1px;
  display: none;
}

.thread:hover .meta .postMenuBtn {
  display: inline-block;
}

.teaser {
  display: none;
  padding: 0 15px;
}

.extended-small .teaser {
  display: block;
}

.teaser s {
  background-color: #000;
  color: #000;
  text-decoration: none;
}

.teaser s:focus,.teaser s:hover {
  color: #fff;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.close {
  margin-left: 3px;
}

.center {
  text-align: center;
  margin: auto;
}

.mobile {
  display: none;
}

#first-run {
  border-radius: 5px;
  margin-top: 5px;
  margin-left: -7px;
  padding: 2px 5px;
  position: absolute;
  font-weight: 700;
  color: maroon;
  background-color: #f0e0d6;
  border: 2px solid #d9bfb7;
}

#first-run:before {
  content: "";
  border-width: 0 6px 6px;
  border-style: solid;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  width: 0;
  height: 0;
  top: -6px;
  border-color: #d9bfb7 transparent;
}

#first-run:after {
  content: "";
  border-width: 0 4px 4px;
  top: -4px;
  display: block;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  width: 0;
  height: 0;
  border-color: #f0e0d6 transparent;
  border-style: solid;
}

.post-subject {
  color: #cc1105;
  font-weight: 700;
}

.post-teaser {
  margin: 3px 0 0;
  padding: 0;
}

.post-page {
  font-size: 90%;
  color: #7d807e;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-top;
  margin-left: 3px;
}

.post-page:before {
  content: '(';
}

.post-page:after {
  content: ')';
}

.post-last {
  color: #bbbfbd;
  font-size: 90%;
  margin-top: 3px;
}

table {
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

input[type=password] {
  text-align: center;
  width: 50px;
}

.rules {
  margin-top: 5px;
}

.text_only #threads table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 2px;
}

.text_only #threads th {
  font-weight: 700;
  padding: 4px 2px;
  text-align: center;
}

@media only screen and (max-width:480px) {
  .text_only #threads table {
    width: 100%;
  }
}

.postMenuBtn {
  margin-left: 5px;
  text-decoration: none;
  line-height: 1em;
  display: inline-block;
  -webkit-transition: -webkit-transform .1s;
  -moz-transition: -moz-transform .1s;
  transition: transform .1s;
  width: 1em;
  height: 1em;
  text-align: center;
  outline: none;
  opacity: .5;
}

.postMenuBtn:hover {
  opacity: 1;
}

.postMenuBtn {
  color: navy;
}